<% title 'My Books' %>

<table class="table">
  <th>Title</th>
  <% for book in @books do %>
    <tr>
      <td><%=link_to(h(book.title), book_path(book)) %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @books, renderer: BootstrapPagination::Rails  %>
