<% title 'My Books' %>

<table class="table">
  <th>Title</th>
  <% for book in @books do %>
    <tr>
      <td><%=h book.title %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @books, renderer: BootstrapPagination::Rails  %>
